footer.footer
	.container
		.footer__logos
			a.footer__logo-sigma(href='#', target='_blank')
				+icon('logo-sigma')(width='123', height='40')
			a.footer__logo-cnews(href='#', target='_blank')
				+icon('logo-cnews')(width='130', height='24')
