.articles {
	padding: 137px 0 0;

	@include max(d) {
		padding: 20px 0 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		@include max(d) {
			flex-direction: column;
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 133px;

		@include max(d) {
			order: 1;
			gap: 80px;
		}
	}

	&__advantages {
		position: sticky;
		top: 20px;
		display: flex;
		flex-direction: column;
		gap: 32px;

		@include max(d) {
			position: relative;
			top: 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
			padding-bottom: 50px;
		}

		@include max(t) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}