.footer {
	position: relative;
	z-index: 10;
	padding: 70px 0 62px;

	@include max(tl) {
		padding: 50px 0;
	}

	@include max(ti) {
		padding: 40px 0;
	}

	&__logos {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__logo-sigma,
	&__logo-cnews {
		display: inline-flex;
		align-items: center;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}
