.scheme {
	$parent: &;

	padding: 103px 0 0;

	@include max(tl) {
		padding: 60px 0 0;
		overflow: hidden;
	}

	@include max(ti) {
		padding: 40px 0 0;
	}

	&__blob {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: radial-gradient(50% 50% at 50% 50%, #00a4fd 0%, rgba(0, 164, 253, 0) 100%);
	}

	&__title {
		max-width: 685px;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 500;

		@include max(d) {
			font-size: fluid(26, 30, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(24, 26, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(20, 24, 0, 768);
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 177px;
		margin-top: 61px;

		@include max(tl) {
			gap: 50px;
			width: calc(100% + 40px);
			margin-top: 40px;
			margin-left: -20px;
			padding: 20px;
			box-sizing: border-box;
		}

		@include max(ti) {
			gap: 30px;
			margin-top: 30px;
		}

		&::before {
			@include max(tl) {
				position: absolute;
				inset: 0;
				content: "";
				display: block;
				background-color: rgba($color-card, 0.8);
				backdrop-filter: blur(5px);
			}
		}
	}

	&__bg {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		max-width: 816px;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		@include max(tl) {
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@include max(ti) {
			grid-template-columns: repeat(1, 1fr);
			gap: 30px;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 11px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		max-width: 400px;
		width: 100%;
		padding: 10px 12px 10px 15px;
		border-radius: 12px;
		background-color: rgba($white, 0.82);

		@include max(tl) {
			max-width: 100%;
		}

		@include max(t) {
			padding: 10px;
		}

		&--small {
			padding: 1px 15px;
		}

		&--result {
			align-items: flex-start;
			border-radius: unset;
			background-color: transparent;
			padding: 0;

			@include max(tl) {
				order: -1;
			}

			#{$parent} {
				&__result {
					max-width: 296px;
					min-width: 296px;
					padding: 5px 18px 5px 15px;

					@include max(tl) {
						max-width: 100%;
						min-width: auto;
						width: 100%;
					}
				}
			}
		}

		&--reverse {
			flex-direction: row-reverse;

			@include max(tl) {
				flex-direction: row;
			}

			#{$parent} {
				&__result {
					flex-direction: row-reverse;

					@include max(tl) {
						flex-direction: row;
					}
				}

				&__result-text {
					text-align: right;

					@include max(tl) {
						text-align: left;
					}
				}
			}
		}

		&--align-end {
			align-items: flex-end;
		}
	}

	&__image-wrapper {
		min-width: 45px;
		max-width: 45px;

		@include max(t) {
			min-width: 35px;
			max-width: 35px;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__solution {
		min-width: 72px;
		font-size: 10px;
		line-height: 1.1;
		color: $black;

		@include max(ti) {
			max-width: 72px;
		}

		@include max(t) {
			min-width: 60px;
			max-width: 60px;
		}

		span {
			font-size: 14px;
			font-weight: 500;
		}
	}

	&__description {
		color: $color-title;
		font-size: 14px;
		line-height: 1.1;
		font-weight: 700;

		@include max(400) {
			font-size: 12px;
		}
	}

	&__result {
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: $color-card-2;
		border-radius: 12px;
		padding: 9px 18px;
	}

	&__angle-icon {
		@include max(tl) {
			display: none;
		}

		&--top-right {
			transform: scale(-1, 1);
		}

		&--bottom-left {
			transform: scale(1, -1);
		}

		&--bottom-right {
			transform: scale(-1, -1);
		}
	}

	&__result-text {
		font-size: 13px;

		span {
			font-size: 17px;

			@include max(t) {
				font-size: 15px;
			}
		}
	}
}
