.side-image {
	display: flex;
	align-items: flex-start;
	gap: 77px;

	@include max(d) {
		align-items: flex-start;
		gap: 40px;
	}

	@include max(tl) {
		flex-direction: column;
		gap: 0;
	}

	& + .article__subtitle {
		margin-top: 21px;

		@include max(d) {
			margin-top: 11px;
		}

		@include max(tl) {
			margin-top: 30px;
		}
	}

	& + p {
		@include max(tl) {
			margin-top: 19px;
		}

		@include max(t) {
			margin-top: 10px;
		}
	}

	&__content {
		max-width: 900px;
	}

	&__image-wrapper {
		max-width: 600px;
		min-width: 450px;
		width: 100%;
		border-radius: 34px 0 0 30px;
		transform: skewX(-8deg);
		overflow: hidden;
		margin-right: calc(-25vw);

		@include max(dxl) {
			margin-right: calc(-22vw);
		}

		@include max(1200) {
			margin-right: -95px;
		}

		@include max(tl) {
			max-width: 95%;
			min-width: auto;
			width: auto;
			border-radius: 34px 24px 34px 24px;
			margin: 0 auto;
		}
	}

	&__image {
		max-width: calc(100% + 60px);
		width: calc(100% + 60px);
		transform: skewX(8deg);
		margin-left: -30px;
		aspect-ratio: 13 / 8;
		object-fit: cover;

		@include max(tl) {
			aspect-ratio: 17 / 5;
		}
	}
}
