.video {
	$parent: &;

	position: relative;
	padding: 122px 0 54px;

	@include max(tl) {
		padding: 110px 0 30px;
	}

	@include max(ti) {
		padding: 90px 0 0;
	}

	&__blob {
		top: 30%;
		left: 50%;
	}

	&__title {
		font-size: 30px;
		line-height: 1.2;
		font-weight: 500;

		@include max(d) {
			font-size: fluid(26, 30, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(24, 26, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(20, 24, 0, 768);
		}
	}

	&__iframe {
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		margin-top: 34px;
		aspect-ratio: 20 / 9;

		video {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__poster {
		position: absolute;
		inset: 0;
		z-index: 1;
		cursor: pointer;

		&:hover #{$parent}__play {
			opacity: 0.7;
		}

		&.hide {
			display: none;
		}
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 103px;
		height: 103px;
		border-radius: 14px;
		background-color: rgba($white, 0.34);
		backdrop-filter: blur(5px);
		transition: opacity 0.3s ease;
	}
}
