extends ../layouts/default

block vars
	-
		const page = {
			title: 'Сигма статья'
		};
	- let headerMod = 'header--blob-position';

block header
	include ../blocks/header

block main
	section.article
		.article__blob.blob
		.container
			h2.article__title От ручного труда к автоматизации: <br> как “Интер РАО” внедрял решения “Сигма”
			.article-advantages
				.article-advantages__content
					.article-advantages__image-wrapper
						+picture('article/1', 'jpg', 'article-advantages__image', '')
					.article-advantages__text
						p.
							Цифровизация энергетики набирает обороты. Отрасль стремится к автоматизации процессов, минимизации потерь и повышению
							прозрачности работы. Внедрение интеллектуальных систем учета электроэнергии (ИСУЭ) стало ключевым
							этапом в этой трансформации.
						p.
							В России особую роль в этом процессе играет развитие «умных счетчиков» и программных комплексов для сбора и обработки
							данных. Один из ярких примеров такой модернизации — внедрение решений “Сигма” в компании «Интер РАО».
						p.
							Как изменилась работа энергосбытовых компаний после цифровизации? Какие задачи удалось решить? И какие технологии
							обеспечивают масштабируемость и безопасность новой системы? Разбираем успешный пример.
				.article-advantages__sticky
					.article-advantages__items
						.advantages-card
							.advantages-card__number 20
							.advantages-card__text лет в ИТ-отрасли
						.advantages-card
							.advantages-card__text более
							.advantages-card__number 40
							.advantages-card__text ИТ-решений для&nbsp;энергетики и&nbsp;ЖКХ
						.advantages-card
							.advantages-card__number 29
							.advantages-card__text решений в&nbsp;Реестре российского ПО
		.article__skewed
			.container.article__skewed-container
				.side-image
					.side-image__content
						h2.article__subtitle Сбор данных велся вручную
						p.
							До внедрения комплекса “Сигма.ИВК” сбор данных с приборов учета электроэнергии в энергосбытовых компаниях велся вручную.
							Операторы фиксировали показания в Excel-файлах, а обмен информацией между подразделениями осуществлялся через email и
							FTP-серверы. Такой подход приводил к ряду проблем:
						ul
							li.
								высокая доля ручного труда — сотрудники вручную вносили данные, что увеличивало риск ошибок;
							li.
								задержки в обработке информации — отсутствие автоматизированного сбора и передачи показаний замедляло
								процессы биллинга и расчетов;
							li.
								финансовые потери — выявление аномалий в потреблении электроэнергии происходило не сразу, что позволяло
								потребителям злоупотреблять ситуацией;
							li.
								низкая кибербезопасность — файлы с чувствительной информацией пересылались через незащищенные каналы, создавая угрозы утечек.
						p.
							Энергосбытовые компании «Интер РАО» нуждались в едином централизованном решении, которое автоматизирует сбор показаний,
							обеспечит безопасность данных и интегрируется с другими системами.
						h2.article__subtitle Систему интегрировали в уже существующую среду
					.side-image__image-wrapper
						+picture('article/2', 'jpg', 'side-image__image', '')
				.steps
					.steps__title Проект реализовывался поэтапно
					.steps__wrapper
						.steps__item
							+icon('dot-arrow')(class='steps__icon')
							.steps__text.
								Первый шаг — разработка и&nbsp;адаптация. Инженеры <span style="white-space: nowrap;">ИТ-компании</span> "Сигма" адаптировали систему под специфику работы «Интер РАО»
						.steps__item
							+icon('dot-arrow')(class='steps__icon')
							.steps__text.
								После этого нужно было интегрировать новую систему с уже существующими. "Сигма.ИВК" синхронизирован с биллинговыми
								системами, личными кабинетами клиентов и другими сервисами.
						.steps__item
							+icon('dot-arrow')(class='steps__icon')
							.steps__text.
								Специалисты настроили автоматизированный сбор данных. Комплекс подключили к более чем 16 миллионам приборов
								учета и 3 миллионам шлюзов и роутеров
						.steps__item
							+icon('dot-arrow')(class='steps__icon')
							.steps__text.
								Системе обеспечили безопасность: решение было развернуто в изолированном контуре, соответствующем требованиям
								к критической информационной инфраструктуре (КИИ)
				h2.article__subtitle Сбор данных стал быстрым и безопасным
				p.
					В итоге сбор данных был полностью автоматизирован. Операторы больше не вводят показания вручную: теперь информация поступает
					в систему в режиме реального времени без задержек и ошибок. <br>
					Благодаря интеллектуальному анализу данных оперативно выявляются попытки вмешательства в работу счетчиков, аномальные
					скачки потребления и возможные утечки — а это гарантирует снижение финансовых потерь.
				p.
					Система повысила уровень кибербезопасности: данные передаются по защищенным каналам, а сам комплекс соответствует требованиям
					ФСБ и&nbsp;ФСТЭК по защите информации.
				p.
					И наконец, внедрение обеспечило масштабируемость и отказоустойчивость системы: она способна одновременно обрабатывать до
					300 000 соединений и поддерживать дальнейшее расширение функционала.
				.article__image-wrapper
					+picture('article/3', 'jpg', 'article__image', '')
				.side-image
					.side-image__content
						h2.article__subtitle Интеллектуальные энергосети будут развиваться
						p.
							Проект внедрения “Сигма.ИВК” и “Сигма.СУП СПД «Пионер» в «Интер РАО» — пример успешной цифровизации&nbsp;отрасли.
							Он позволил не только оптимизировать работу энергосбытовых компаний, но&nbsp;и&nbsp;заложить основу для развития
							интеллектуальных энергосетей.
						p.
							В планах разработчиков — дальнейшее улучшение алгоритмов сбора данных, интеграция с Федеральной информационной адресной
							системой и развитие аналитических инструментов для прогнозирования энергопотребления.
						p.
							А пока система уже доказывает свою эффективность, помогая энергосбыту работать быстрее, точнее и&nbsp;безопаснее.
						p.
							Проект признан лучшим ИТ-решением в энергетике и получил премию Global CIO «Проект года-2023». <br>
							Это еще один шаг к цифровой энергетике будущего, где каждый киловатт под контролем, а потери сведены к&nbsp;минимуму.
					.side-image__image-wrapper
						+picture('article/4', 'jpg', 'side-image__image', '')
		include ../blocks/footer
