@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular.eot");
	src: url("../fonts/Formular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Formular.woff") format("woff"),
	url("../fonts/Formular.woff2") format("woff2"),
	url("../fonts/Formular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular-Medium.eot");
	src: url("../fonts/Formular-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Formular-Medium.woff") format("woff"),
	url("../fonts/Formular-Medium.woff2") format("woff2"),
	url("../fonts/Formular-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular-Bold.eot");
	src: url("../fonts/Formular-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Formular-Bold.woff") format("woff"),
	url("../fonts/Formular-Bold.woff2") format("woff2"),
	url("../fonts/Formular-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Formular";
	src: url("../fonts/Formular-BlackItalic.eot");
	src: url("../fonts/Formular-BlackItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Formular-BlackItalic.woff") format("woff"),
	url("../fonts/Formular-BlackItalic.woff2") format("woff2"),
	url("../fonts/Formular-BlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}
